html, body, main
{
	height: 100%;
	font-family: "Roboto", sans-serif;
}

main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a:focus-visible {
	outline: none;
}

#counterDiv
{
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 80%;
}

.counter
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#grid
{
	--grid-size: 300px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;

	width: var(--grid-size);
	height: var(--grid-size);
	background-color: #000000;
	margin: 20px;
}

.gridSpace
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #ffffff;
	font-size: xx-large;
}

#newGame
{
	border: 1px solid #5d5d5d;
	border-radius: 10px;

	padding: 10px;
	background-color: #bdbdbd;

	box-shadow: 3px 3px 3px;
}

#newGame:hover
{
	background-color: #cecece;
	box-shadow: 5px 5px 3px;
}